
body{ 
    background-color: rgb(204, 24, 24);}

    .container{
        display: flex;
        background-color: black;
        gap:  10px 40px;
        /*height: 600px; */
        /*justify-content: center; */
        align-items: center;
        flex-wrap: wrap;
      gap: 20px 40px;
      height: 600px;
      justify-content: center;
      
    }
    
    
    .item{
        width: 200px;
        height: 200px;
        background-color: blue;
    }